# Performance Measurement and Benchmarking of Portfolio Data

### author: darren

This Project is from the coursera course: Investment Strategies and Portfolio Analysis, from Rice University

Here provides the performance data of three underlying assets:
- DFSCX	
- DFSVX 
- S&P 500

This project will compute the following indicators
1. Arithmetic average monthly return
2. Monthly standard deviation
3. Geometric average monthly return
4. Annualized arithmetic average return
5. Annualized volatility
6. Arithmetic mean excess monthly return
7. Annualized arithmetic mean excess return
8. Geometric mean excess monthly return
9. Annualized geometric mean excess return
10. Target semideviation
11. Tracking error

In [197]:
import pandas as pd
import numpy as np
from datetime import datetime
import math

df = pd.read_csv("./PortfolioData.csv")
df['Date'] = df['Date'].apply(lambda x : datetime.strptime(str(x), "%Y%m%d"))

In [112]:
df.describe()

            DFSCX       DFSVX       SP500   Risk-free
count  417.000000  282.000000  417.000000  417.000000
mean     0.010978    0.010790    0.007859    0.003250
std      0.056161    0.055083    0.043191    0.002513
min     -0.291931   -0.221374   -0.217630   -0.000037
25%     -0.021368   -0.018471   -0.017004    0.000817
50%      0.015924    0.013998    0.010491    0.003642
75%      0.045010    0.045323    0.035224    0.004767
max      0.235778    0.196560    0.131767    0.011290

Summarized as above
1. Arithmetic average monthly return = 0.010978, 0.010790, 0.007859
$$r_a = \frac{1}{T}\sum^T_{t=1}r_t$$
2. Monthly standard deviation = 0.056161, 0.055083, 0.043191

3. geometric average monthly return
$$r_g = \{\prod^T_{t=1}(1+r_t)\}^{{1}/{T}}-1$$

In [113]:
print("DFSCX:", np.prod(df['DFSCX'].apply(lambda x : 1+x)) ** (1/417) - 1)
print("DFSVX:", np.prod(df['DFSVX'].apply(lambda x : 1+x)) ** (1/282) - 1)
print("SP500:", np.prod(df['SP500'].apply(lambda x : 1+x)) ** (1/417) - 1)

DFSCX: 0.0093720408697191
DFSVX: 0.009251443277496385
SP500: 0.006913897965702409

4. Annualized arithmetic average return

In [114]:
0.010978 * 12, 0.010790 * 12, 0.007859 * 12

(0.131736, 0.12947999999999998, 0.094308)

5. Annualized volatility

In [198]:
sqrt_12 = math.sqrt(12)
0.056161 * sqrt_12, 0.055083 * sqrt_12, 0.043191 * sqrt_12

(0.19454741080775143, 0.19081310926663292, 0.14961801285941476)

6. Arithmetic mean excess monthly return

In [116]:
rf = 0.003250
0.010978 - rf, 0.010790 - rf, 0.007859 - rf

(0.0077280000000000005, 0.00754, 0.004609)

7. Annualized arithmetic mean excess return

In [117]:
(0.010978 - rf) * 12, (0.010790 - rf) * 12, (0.007859 - rf) * 12

(0.09273600000000001, 0.09048, 0.055308)

8. Geometric mean excess monthly return $r_{xg}$
$$r_{xg} = \frac{1+r_{pg}}{1+r_{bg}} - 1$$
where $r_{pg}$ is the geometric average of portfolio, $r_{bg}$ is the geometric average of benchmark.

along with

9. Annualized geometric mean excess return
$$r_{g,annual} = (1+r_{g,month})^{12} - 1$$

In [118]:
r_bg = np.prod(df['Risk-free'].apply(lambda x : 1+x)) ** (1/417) - 1
r_pg = [0.0093720408697191, 0.009251443277496385, 0.006913897965702409]
for x in r_pg:
    r_xg = (1 + x) / (1 + r_bg) - 1
    print('monthly: ',r_xg)
    print('annualized: ', (1 + r_xg) ** 12 - 1, "\n")

monthly:  0.006105337318094595
annualized:  0.07577496885520141

monthly:  0.005985130024559471
annualized:  0.07423360674146973

monthly:  0.0036551498792876114
annualized:  0.044754398700104

10. Target semideviation
- semideviation is computed by squaring only negative deviations from the mean
- the square root of semivariance is called semideviation
- suppose you have a return target, or a minumum acceptable return (MAR)
- target semivariance is the expected squared deviations below the target
- target semideviation is the square root of target semivariance, as a measure of downside risk, it is also a special case of lower partial moments(LPM) methodology for dealing with downside variation
- formula for a lower partial moment of degree p
$$LPM_{p} = \sum^N_{i=1}w_i d(i)(R_i-\tau)^p$$
where $d(i)$ is the indicator, equal to 1 if $R_i <\tau$, and 0 otherwise; $w_i = 1/N$ is the weight. 
- upside semideviation is the converse of downside semivariance

In [177]:
df['di_DFSCX'] = df['DFSCX'].apply(lambda x: 1 if x < df['DFSCX'].mean() else 0)
df['di_DFSVX'] = df['DFSVX'].apply(lambda x: 1 if x < df['DFSVX'].mean() else 0)
df['di_SP500'] = df['SP500'].apply(lambda x: 1 if x < df['SP500'].mean() else 0)

In [178]:
df

,Date,DFSCX,DFSVX,SP500,Risk-free,excess-DFSCX,excess-DFSVX,excess-SP500,di_DFSCX,di_DFSVX,di_SP500,lpm_i_DFSCX
0,1982-01-29,-0.019600,NaN,-0.017544,0.007306,-0.026906,NaN,-0.024850,1,0,1,-7.332757e-05
1,1982-02-26,-0.029575,NaN,-0.060548,0.009176,-0.038751,NaN,-0.069724,1,0,1,-9.724843e-05
2,1982-03-31,-0.008601,NaN,-0.010167,0.011077,-0.019678,NaN,-0.021244,1,0,1,-4.695107e-05
3,1982-04-30,0.038346,NaN,0.040014,0.011290,0.027056,NaN,0.028724,0,0,0,0.000000e+00
4,1982-05-28,-0.024758,NaN,-0.039162,0.009592,-0.034350,NaN,-0.048754,1,0,1,-8.569687e-05
...,...,...,...,...,...,...,...,...,...,...,...,...
412,2016-05-31,0.010662,0.004742,0.015329,0.000115,0.010547,0.004627,0.015214,1,1,0,-7.568219e-07
413,2016-06-30,-0.001737,-0.011581,0.000906,0.000188,-0.001925,-0.011769,0.000718,1,1,1,-3.049063e-05
414,2016-07-29,0.050167,0.048516,0.035610,0.000171,0.049996,0.048345,0.035439,0,0,0,0.000000e+00
415,2016-08-31,0.015924,0.017352,-0.001219,0.000165,0.015759,0.017187,-0.001384,0,0,1,0.000000e+00
416,2016-09-30,0.007223,0.012060,-0.001234,0.000219,0.007004,0.011841,-0.001453,1,0,1,-9.003824e-06

In [188]:
df['lpm_i_DFSCX'] = (1/417) * df['di_DFSCX'] * ((df['DFSCX'] - df['DFSCX'].mean())**2)
df['lpm_i_DFSVX'] = (1/282) * df['di_DFSVX'] * ((df['DFSVX'] - df['DFSVX'].mean())**2)
df['lpm_i_SP500'] = (1/417) * df['di_SP500'] * ((df['SP500'] - df['SP500'].mean())**2)

In [196]:
df

,Date,DFSCX,DFSVX,SP500,Risk-free,excess-DFSCX,excess-DFSVX,excess-SP500,di_DFSCX,di_DFSVX,di_SP500,lpm_i_DFSCX,lpm_i_DFSVX,lpm_i_SP500
0,1982-01-29,-0.019600,NaN,-0.017544,0.007306,-0.026906,NaN,-0.024850,1,0,1,2.242181e-06,NaN,1.547513e-06
1,1982-02-26,-0.029575,NaN,-0.060548,0.009176,-0.038751,NaN,-0.069724,1,0,1,3.943676e-06,NaN,1.122187e-05
2,1982-03-31,-0.008601,NaN,-0.010167,0.011077,-0.019678,NaN,-0.021244,1,0,1,9.192359e-07,NaN,7.792253e-07
3,1982-04-30,0.038346,NaN,0.040014,0.011290,0.027056,NaN,0.028724,0,0,0,0.000000e+00,NaN,0.000000e+00
4,1982-05-28,-0.024758,NaN,-0.039162,0.009592,-0.034350,NaN,-0.048754,1,0,1,3.062429e-06,NaN,5.302099e-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,2016-05-31,0.010662,0.004742,0.015329,0.000115,0.010547,0.004627,0.015214,1,1,0,2.388490e-10,1.297060e-07,0.000000e+00
413,2016-06-30,-0.001737,-0.011581,0.000906,0.000188,-0.001925,-0.011769,0.000718,1,1,1,3.876761e-07,1.774671e-06,1.159336e-07
414,2016-07-29,0.050167,0.048516,0.035610,0.000171,0.049996,0.048345,0.035439,0,0,0,0.000000e+00,0.000000e+00,0.000000e+00
415,2016-08-31,0.015924,0.017352,-0.001219,0.000165,0.015759,0.017187,-0.001384,0,0,1,0.000000e+00,0.000000e+00,1.976264e-07
416,2016-09-30,0.007223,0.012060,-0.001234,0.000219,0.007004,0.011841,-0.001453,1,0,1,3.380571e-08,0.000000e+00,1.982800e-07

- downside semivariance is a special case of the LPM methodology with power p = 2 and target equal to the mean

In [195]:
l1 = np.sum(df['lpm_i_DFSCX'])
l2 = np.sum(df['lpm_i_DFSVX'])
l3 = np.sum(df['lpm_i_SP500'])
print(math.sqrt(l1), math.sqrt(l2), math.sqrt(l3))

0.04211559183579839 0.041595106835493244 0.032454966620366905

11. Tracking error
tracking error is the standard deviation of the arithmetic excess return, denoted by $\sigma(\bar{r}_p - \bar{r}_b)$

In [119]:
df['excess-DFSCX'] = df['DFSCX'] - df['Risk-free']
df['excess-DFSVX'] = df['DFSVX'] - df['Risk-free']
df['excess-SP500'] = df['SP500'] - df['Risk-free']

In [120]:
df.describe()

,DFSCX,DFSVX,SP500,Risk-free,excess-DFSCX,excess-DFSVX,excess-SP500
count,417.000000,282.000000,417.000000,417.000000,417.000000,282.000000,417.000000
mean,0.010978,0.010790,0.007859,0.003250,0.007728,0.008740,0.004609
std,0.056161,0.055083,0.043191,0.002513,0.056298,0.055132,0.043199
min,-0.291931,-0.221374,-0.217630,-0.000037,-0.297971,-0.222166,-0.223670
25%,-0.021368,-0.018471,-0.017004,0.000817,-0.026576,-0.021098,-0.019930
50%,0.015924,0.013998,0.010491,0.003642,0.012098,0.012459,0.007838
75%,0.045010,0.045323,0.035224,0.004767,0.042377,0.043715,0.031835
max,0.235778,0.196560,0.131767,0.011290,0.231483,0.196435,0.127616

as summarized, tracking error = 0.056298, 0.055132, 0.043199